<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<h2>
    Authentication
</h2>

<form th:action="${successfulLogin}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" autofocus="autofocus"/>
    <br>
    <br>
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br /><br>
    <input type="submit" value="Log in" />

    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</form>
</html>